<mat-toolbar color="primary" class="sticky top-0 z-10">
  <button mat-icon-button aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="cursor-pointer">ShopNest</span>
  <span class="flex-grow flex-shrink basis-auto"></span>
  <button mat-raised-button aria-label="Login" color="accent">Login</button>
  <button mat-raised-button aria-label="Signup" color="accent" class="mx-3">
    Signup
  </button>
  <button mat-icon-button aria-label="Shopping Cart Icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
